In [20]:
import pandas as pd

In [21]:
data = pd.read_csv('covid19.csv')

In [22]:
data.head()

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Serious Critical,Tot Cases per 1M pop
0,China,"81,093",+39,"3,270",9.0,"72,703","5,120","1,749",56
1,Italy,"59,138",NaN,"5,476",NaN,"7,024","46,638","3,000",978
2,Iran,"21,638",NaN,"1,685",NaN,"7,913","12,040",NaN,258
3,Spain,"28,768",NaN,"1,772",NaN,"2,575","24,421","1,785",615
4,Germany,"24,873",NaN,94,NaN,266,"24,513",23,297

In [23]:
data.describe()

       NewDeaths
count  10.000000
mean   13.300000
std    21.349213
min     1.000000
25%     1.000000
50%     4.500000
75%     8.750000
max    65.000000

In [24]:
data.head()

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Serious Critical,Tot Cases per 1M pop
0,China,"81,093",+39,"3,270",9.0,"72,703","5,120","1,749",56
1,Italy,"59,138",NaN,"5,476",NaN,"7,024","46,638","3,000",978
2,Iran,"21,638",NaN,"1,685",NaN,"7,913","12,040",NaN,258
3,Spain,"28,768",NaN,"1,772",NaN,"2,575","24,421","1,785",615
4,Germany,"24,873",NaN,94,NaN,266,"24,513",23,297

In [25]:
data.isna().sum()

Country                   0
TotalCases                0
NewCases                153
TotalDeaths              85
NewDeaths               167
TotalRecovered           70
ActiveCases               0
Serious Critical        103
Tot Cases per 1M pop      0
dtype: int64

In [26]:
data.fillna(0,inplace=True)

In [27]:
data.isna().sum()

Country                 0
TotalCases              0
NewCases                0
TotalDeaths             0
NewDeaths               0
TotalRecovered          0
ActiveCases             0
Serious Critical        0
Tot Cases per 1M pop    0
dtype: int64

In [28]:
list(data)

['Country',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'ActiveCases',
 'Serious Critical',
 'Tot\xa0Cases per 1M pop']

In [29]:
data[['Country','TotalCases']]

      Country TotalCases
0       China     81,093
1       Italy     59,138
2        Iran     21,638
3       Spain     28,768
4     Germany     24,873
..        ...        ...
172   Somalia          1
173  Suriname          1
174  Eswatini          1
175      Togo          1
176    Total:    339,341

[177 rows x 2 columns]

In [30]:
data[['Country','TotalCases']].to_json("total_cases.json",orient='split',index=False)

In [31]:
data[['Country','TotalCases','TotalRecovered']].to_json("recovery_newcase.json",orient='split',index=False)

In [32]:
data.dtypes

Country                  object
TotalCases               object
NewCases                 object
TotalDeaths              object
NewDeaths               float64
TotalRecovered           object
ActiveCases              object
Serious Critical         object
Tot Cases per 1M pop     object
dtype: object

In [33]:
data[['TotalDeaths','TotalRecovered']].to_json("total_death_recover.json",orient='split',index=False)

In [34]:
data[['NewDeaths','NewCases']].to_json("new_death_new_case.json",orient='split',index=False)

In [35]:
data[['Country',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'ActiveCases',
 'Serious Critical']].to_json("final.json",orient='split',index=False)